
.kf-icon {
  width: 0.56rem;
  z-index: 200;
  display: inline-block;
  position: fixed;
  right: 0.32rem;
  bottom: 1.42rem;
  border-radius: 50%;
}
.index-container {
  margin-top: 1.58rem;
  position: relative;
  padding-bottom: 1.2rem;

}

.search-top {
  align-items: center;
  padding: 0 0.3rem;
  height: 0.9rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1000;
}

.icon-logo {
  font-size: 0.65rem;
  color: #ee7700;
}

.search-box {
  width: 70%;
  background-color: #ededed;
  border-radius: 4px;
  padding: 0.1rem 0.2rem;
  margin-left: 0.35rem;
  margin-right: 0.1rem;
  align-items: center;
}

.icon-sousuo {
  font-size: 0.38rem;
  color: #a4a4a4;
}

.text-input {
  padding-left: 0.17rem;
  font-size: 0.28rem;
  color: #a4a4a4;
  width: 100%;
}

.icon-gouwuche {
  margin: 0 0.25rem 0 0.15rem;
  font-size: 0.46rem;
  color: #2f2f2f;
}

.xiaoxi-box {
  padding-top: 0.08rem;
  position: relative;
}
.bage{
  position: absolute;
  top:-0.1rem;
  right:-0.25rem;
  display: inline-block;
  width:0.25rem;
  height:0.25rem;
  text-align: center;
  line-height:0.271rem;
  border-radius: 50%;
  color:#fff;
  background: #b81f23;
  font-size:0.16rem;
}

.icon-xiaoxi {
  font-size: 0.40rem;
  color: #2f2f2f;
}

#common-scroll-nav {
  top: 0.78rem;
}

.common-list {
  height: 100%;
  margin: 0 0.12rem;
  padding: 0.15rem 0.15rem 0 0.15rem;
  font-size: 0.28rem;
  line-height: 24px;
  color: #2f2f2f;
  white-space: nowrap;
}

.co-box {
  /*  height: 500px;*/
  background: #eee;
  color: red;
}

/*轮播图*/
.swiper-container, .swiper-slide {
  width: 100%;
}

.slider-position {
  position: relative;
}

.pagination-ul {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0.15rem;
  z-index: 100;
}

.pagination {
  margin: 0.05rem;
  width: 0.12rem;
  height: 0.12rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  display: inline-block;
}

.pagination.activePagination {
  background-color: #fff;
  opacity: 1;
}

/*end*/

.icon-qianggou {
  color: #b81f23;
  margin-right: 0.14rem;
}

.icon-xihuan {
  color: #b81f23;
  margin-right: 0.14rem;
}

.icon-xinpintuijian {
  color: #2f2f2f;
  margin-left: 0.14rem;
}

.bor-top {
  border-top: 0.14rem solid #eeeeee;;
}

.box {
  padding: 0.35rem 0.28rem 0.15rem 0.28rem;
  background: #fff;
}

.scroll-box {
  overflow: hidden;
  width: 100%;
  /*  height:6.2rem;*/
}

.timing-ul {
  /* justify-content: space-between;
   width:100%;*/
}
.timing-scroll-ul{
  white-space:nowrap;
  display: block;
}
.scroll-li.timing-li {
  width: 5.76rem;
  overflow-x: hidden;
}

.scroll-li.percent {
  width: 100%;
  margin-right: 0;
}

.timing-box {
  padding: 0.35rem 0 0.3rem 0.3rem;
  background: #fff;
}

.timing-bg-box {
  width: 5.76rem;
  height: 3.22rem;
}

.timing-pic {
  width: 100%;
  height: 100%;
}

.left-p {
  justify-content: space-between;
  align-items: center;
}

.sign2 {
  color: #898989;
  font-size: 0.16rem;
}

.notify {
  font-size: 0.26rem;
/*  margin-right: 0.3rem;*/
}

.notify-red {
  color: #b81f23;
}

.notify-gray {
  color: #898989;
}

.notify-time-out {
  font-size: 0.26rem;
  color: #898989;
  margin-right: 0.3rem;
}

.or-price {
  color: #898989;
  font-size: 0.22rem;
  text-decoration: line-through;
}

.scroll-ul {
  overflow-x: scroll;
  overflow-y: hidden;
  min-width: 100%;
  height: 100%;
}

.scroll-li {
  display: inline-block;
  width: 3rem;
  padding-top: 0.3rem;
  padding-bottom: 0rem;
  margin-right: 0.4rem;
}

.scroll-li.one {
  width: 100%;
  margin: 0;
}

.scroll-li.two {
  width: 46.5%;
  margin: 0;
}

.ti {
  font-size: 0.30rem;
  color: #000000;
  margin-bottom: 0.16rem;
  /*font-weight: bold;*/
}

.tip {
  font-size: 0.26rem;
  color: #898989;
}

.pic-box {
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.pin-pic {
  height: 94%;
  margin: auto;
}

.pin-box {
  padding: 0.35rem 0 0.3rem 0.3rem;
  background: #fff;
}

.bg-box {
  background: #f4f4f4;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.grounp-bg-box {
  background: #f4f4f4;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.grounp-pic {
  width: 100%;
  height: 100%;
}

.integrate {
  display: inline-block;
  text-align: center;
  background-color: #f27878;
  border-radius: 2px;
  color: #fff;
  font-size: 0.2rem;
  margin: 0.17rem 0 0.14rem 0;
  padding:0.04rem 0.12rem;
  line-height: normal;
}

.grounp-name {
  margin-top:0.2rem;
   font-size: 0.28rem;
   color: #2f2f2f;
   overflow : hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
  /* autoprefixer: off */
    -webkit-box-orient: vertical;
  /* autoprefixer: on */
   white-space: normal;
   -webkit-line-clamp: 1;
 }

.price-p {
  align-items: center;
  color: #2f2f2f;
  margin: 0.1rem 0 0.1rem 0;
  white-space: nowrap;
}

.sign {
  font-size: 0.24rem;
  color: #b81f23;
}

.price {
  font-size: 0.3rem;
  color: #b81f23;

}

.sign1 {
  font-size: 0.32rem;
  color: #c3c3c3;
}

.profit-text {
  font-size: 0.24rem;
  color: #b81f23;
}

.profit-value {
  font-size: 0.3rem;
  color: #b81f23;
}

.grounped {
  font-size: 0.24rem;
  color: #898989;
  white-space: nowrap;
}

.grounp-li {
  overflow-x: hidden;
}

.new-ul {
  justify-content: space-between;
  width: 100%;
}

.new-li {
  width: 2.14rem;
  margin: 0;
  overflow-x: hidden;
}

.new-bg-box {
  width: 2.14rem;
  height: 2.14rem;
  background-color: #f4f4f4;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.new-bg-box .new-pic {
  width: 100%;
  height: 100%;
}

.like-bg-box {
  width: 3.4rem;
  height: 3.4rem;
  background-color: #f4f4f4;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.like-goods-pic {
  width: 100%;
  height: 100%;
}

.like-ul {
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.like-li {
  width: 3.4rem;
  margin: 0;
  overflow-x: hidden;
}

.classify-ti {
  font-size: 0.28rem;
  color: #2f2f2f;
  margin-bottom: 0.27rem;
  margin-left: 0.27rem;
  font-weight: bold;
}

.classify-bg-pic {
  width: 100%;
  height: 2.6rem;
}

.classify-pic {
  width: 100%;
  height: 100%;
}

.classify-container {
  padding: 0.35rem 0 0.15rem 0;
  background: #fff;
}

.classify-box {
  padding: 0 0.28rem 0rem 0.28rem;
  background: #fff;
}

.grounp-ul {
  justify-content: space-between;
}

.timing-name {
  min-width: 5.76rem;
}

.classify-bg-box {
  width: 2.14rem;
  height: 2.14rem;
  background-color: #f4f4f4;
  border-radius: 4px;
}

.classify-goods-pic {
  width: 100%;
  height: 100%;
}

.grounp-ul1 {
  white-space: nowrap;
}

.new-ul1, .classify-ul {
  justify-content: flex-start;
}

.new-li1, .classify-li {
  margin-right: 0.22rem;
}

.new-li:last-child, .classify-li:last-child {
  margin-right: 0;
}
.new-li1 {
  margin-right: 0.22rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.goods-name1{
  -webkit-box-orient: vertical!important;
  overflow : hidden!important;
  text-overflow: ellipsis!important;
  display: -webkit-box!important;
  -webkit-line-clamp: 2!important;
}

.quan_ls{
  color: #898989;
}
.quan_ls .quan_dele{
  margin-left:0;
}
.quan_dele{
  text-decoration:line-through;
  color: #898989;
  font-size:0.25rem;
  margin-left:0.3rem;
}
.quan{
  background: #b81f23;
  color: #fff;
  padding:0.0045rem 0.05rem;
  font-size:0.22rem;
}
.quan_xian{
  border:1px solid #b81f23;
  padding:0rem 0.07rem;
  color: #b81f23;
  line-height:1.2;
}
.quan_add{
  color: #b81f23;
  margin: 0 0.05rem;
}
