
/*轮播图*/
.swiper-container {
  width: 100%;
}

.slider-position {
  position: relative;
}


.pagination-ul {
  display: flex;
  justify-content: center;
  position: absolute;
  left:0;
  right: 0;
  margin:auto;
  bottom: 0.15rem;
  z-index: 100;
}
.pagination {
  margin: 0.05rem;
  width: 0.12rem;
  height: 0.12rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  display: inline-block;
}
.pagination.activePagination {
  background-color: #fff;
  opacity: 1;
}
/*end*/


.bor-top {
  border-top: 0.14rem solid #eeeeee;;
}

.box {
  padding: 0 0.3rem 0.3rem 0.3rem;
  background: #fff;
}

.scroll-box {
  overflow: hidden;
  width: 100%;
}

.left-p {
  justify-content: space-between;
  align-items: center;
}

.sign2 {
  color: #898989;
  font-size: 0.16rem;
}

.notify-buy {
  font-size: 0.26rem;
  color: #b81f23;
  margin-right: 0.3rem;
}

.notify-time-out {
  font-size: 0.26rem;
  color: #898989;
  margin-right: 0.3rem;
}

.or-price {
  color: #898989;
  font-size: 0.22rem;
  text-decoration: line-through;
}

.scroll-ul {
  overflow-x: scroll;
  min-width: 100%;
  height: 100%;
}

.scroll-li {
  display: inline-block;
  width: 3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.1rem;
  margin-right: 0.4rem;
}

.scroll-li.one {
  width: 100%;
  margin: 0;
}

.scroll-li.two {
  width: 46.5%;
  margin: 0;
}

.ti {
  font-size: 0.30rem;
  color: #000000;
  margin-bottom: 0.16rem;
  font-weight: bold;
}

.tip {
  font-size: 0.26rem;
  color: #898989;
}


.bg-box {
  background: #f4f4f4;
  width: 100%;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.integrate {
  display: inline-block;
  padding: 0.04rem 0.12rem;
  text-align: center;
  background-color: #f27878;
  border-radius: 2px;
  color: #fff;
  font-size: 0.2rem;
  margin: 0.17rem 0 0.14rem 0;
  line-height: normal;
}

.grounp-name {
  font-size: 0.28rem;
  color: #2f2f2f;
  white-space: nowrap;
}

.price-p {
  align-items: center;
  color: #2f2f2f;
  margin: 0.18rem 0 0.16rem 0;
  white-space: nowrap;
}

.sign {
  font-size: 0.24rem;
  color: #b81f23;
}

.price {
  font-size: 0.3rem;
  color:#b81f23;

}

.sign1 {
  font-size: 0.32rem;
  color: #c3c3c3;

}

.profit-text {
  font-size: 0.24rem;
  color: #b81f23;

}

.profit-value {
  font-size: 0.3rem;
  color: #b81f23;
}

.grounped {
  font-size: 0.24rem;
  color: #898989;
  white-space: nowrap;
}



.like-bg-box {
  width: 3.4rem;
  height: 3.4rem;
  background-color: #f4f4f4;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.goods-pic{
  width:100%;
}

.like-ul {
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.like-li {
  width: 3.4rem;
  margin: 0;
  overflow-x: hidden;
}

.grounp-ul {
  justify-content: space-between;
}

.timing-name {
  min-width: 5.76rem;
}
