.container{
  background: #fff;
}
#common-scroll-nav {
  top: 0;
}

.material-li {
  padding: 0.3rem;
  border-top: 0.14rem solid #eee;
  border-bottom: 0.14rem solid #eee;
}

.material-pic {
  width: 100%;
  border-radius: 4px;
}

.title {
  font-size: 0.28rem;
  font-weight: bold;
  color: #2f2f2f;
  margin: 0.16rem 0;
}

.msg {
  justify-content: space-between;
}

.tag_name {
  font-size: 0.22rem;
  color: #247edb;
}

.create_time {
  font-size: 0.22rem;
  color: #898989;
}

.navbar-bottom-line-color:after {
  border-color: #fff !important;
}

.no-data {
  text-align: center;
  margin-top: 20%;

}

/*sssss*/
.ywpx-list {
  width: 100%;
}

.texac{
 text-align: center;
}
.material-list1{
  padding-top:3.5rem;
  background: #eee;
}
