.logistics-container {
  background: #eeeeee;
}

.goods-msg {
  padding: 0.25rem 0 0.4rem 0.4rem;
  border-bottom: 0.14rem solid #eeeeee;
  background: #fff;
}

.goods-pic {
  width: 1.35rem;
  height: 1.29rem;
  margin-right: 0.31rem;
}

.state {
  font-size: 0.30rem;
  color: #b81f23;
  margin-bottom: 0.24rem;
}

.delivery {
  font-size: 0.26rem;
  color: #6e6e6e;
}

.address {
  font-size: 0.24rem;
  color: #000;
  padding: 0.46rem 0.28rem 0.63rem 0.28rem;
  line-height: 0.36rem;
  background: #fff;
}

.icon-location {
  color: #b81f23;
  margin-right: 0.23rem;
  font-size: 0.3rem;
}

.ti {
  padding-left: 0.26rem;
  font-size: 0.30rem;
  color: #0b0b0b;
  background: #fff;
}

.list-ul {
  padding:0.63rem 0 1rem 0.58rem;
  background: #fff;
}

.list-li {
  position: relative;
 /* border-left: 2px solid #f5f5f9;*/
  padding: 0 0.4rem 0.74rem 0.4rem;
}
.list-li:before{
  content: '';
  width:1px;
  height: 100%;
  background: #eee;
  display: inline-block;
  position:absolute;
  left:0;
  top:0.13rem;
}

.status {
  font-size: 0.26rem;
  color: #0b0b0b;
}

.time {
  font-size: 0.22rem;
  color: #888888;
  margin-top: 0.14rem;
}


.dot {
  width: 6px;
  height: 6px;
  background-color: #dcdcdc;
  border-radius: 50%;
  position: absolute;
  top: 0.04rem;
  left: -3px;
}

.list-li:last-child:before{
  content: '';
  width:2px;
  height: 100%;
  background: #fff;
  display: inline-block;
  position:absolute;
  left:0;
  top:0.13rem;
}
.logistics-box{
  padding:0.43rem 0 0.38rem 0.38rem;
  background: #fff;
}

.time-p{
  margin-top: 0.14rem;
  margin-bottom: 0.25rem;
}

.yd-timeline-custom-item:not(:last-child):after, .yd-timeline-item:not(:last-child):after {
  border-bottom: 1px solid #fff!important;
}
.yd-timeline:after {
  border-top: 1px solid #fff!important;
}
.yd-timeline {
  font-size: 0.26rem!important;
}


